.header{
    height: em;
    padding: 50px;
    font-size: 3em;
    text-align: left;
    background-image: url(assets/imgs/fondo.jpg);
    background-size: cover;
    background-position: center;
    color:beige;
}
.header h1{
    margin: 0px;
    padding: 0%;
    font-size: 3em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif 
}
.header p{
    margin: 0%;
    color:beige;
    font-size: 2rem;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.products{
    width: 20%;
    color: black;
    padding-left: 31%;
    padding-top: 3%;

}
.products td{
    width: 80%;
    font-size: 3rem;
    text-align:center;
    padding-bottom: 8%;

}
.products img{
    width: 30rem;
    border: solid 1px #ddd;
}
.footer{
    height: 3em;
    line-height: 3em;
    background-color: chartreuse;
    color: black;
    text-align: center;
    font-size: 2em;
}